const char *colorname[] = {

  /* 8 normal colors */
  [0] = "#000000", /* black   */
  [1] = "#4C6070", /* red     */
  [2] = "#952C4A", /* green   */
  [3] = "#5E758A", /* yellow  */
  [4] = "#748A9B", /* blue    */
  [5] = "#95A6B2", /* magenta */
  [6] = "#96AAB5", /* cyan    */
  [7] = "#cad3d8", /* white   */

  /* 8 bright colors */
  [8]  = "#8d9397",  /* black   */
  [9]  = "#4C6070",  /* red     */
  [10] = "#952C4A", /* green   */
  [11] = "#5E758A", /* yellow  */
  [12] = "#748A9B", /* blue    */
  [13] = "#95A6B2", /* magenta */
  [14] = "#96AAB5", /* cyan    */
  [15] = "#cad3d8", /* white   */

  /* special colors */
  [256] = "#000000", /* background */
  [257] = "#cad3d8", /* foreground */
  [258] = "#cad3d8",     /* cursor */
};

/* Default colors (colorname index)
 * foreground, background, cursor */
 unsigned int defaultbg = 0;
 unsigned int defaultfg = 257;
 unsigned int defaultcs = 258;
 unsigned int defaultrcs= 258;
