@define-color foreground #cad3d8;
@define-color background #000000;
@define-color cursor #cad3d8;

@define-color color0 #000000;
@define-color color1 #4C6070;
@define-color color2 #952C4A;
@define-color color3 #5E758A;
@define-color color4 #748A9B;
@define-color color5 #95A6B2;
@define-color color6 #96AAB5;
@define-color color7 #cad3d8;
@define-color color8 #8d9397;
@define-color color9 #4C6070;
@define-color color10 #952C4A;
@define-color color11 #5E758A;
@define-color color12 #748A9B;
@define-color color13 #95A6B2;
@define-color color14 #96AAB5;
@define-color color15 #cad3d8;
