Windows Registry Editor Version 5.00

[HKEY_CURRENT_USER\Software\SimonTatham\PuTTY\Sessions\wal]
"Colour0"="202,211,216"  ; Default Foreground
"Colour1"="202,211,216"  ; Default Bold Foreground
"Colour2"="0,0,0"  ; Default Background
"Colour3"="0,0,0"  ; Default Bold Background
"Colour4"="0,0,0"  ; Cursor Text
"Colour5"="202,211,216"  ; Cursor Color
"Colour6"="0,0,0"  ; ANSI Black
"Colour7"="141,147,151"  ; ANSI Black Bold
"Colour8"="76,96,112"  ; ANSI Red
"Colour9"="76,96,112"  ; ANSI Red Bold
"Colour10"="149,44,74"  ; ANSI Green
"Colour11"="149,44,74"  ; ANSI Green Bold
"Colour12"="94,117,138"  ; ANSI Yellow
"Colour13"="94,117,138"  ; ANSI Yellow Bold
"Colour14"="116,138,155"  ; ANSI Blue
"Colour15"="116,138,155"  ; ANSI Blue Bold
"Colour16"="149,166,178"  ; ANSI Magenta
"Colour17"="149,166,178"  ; ANSI Magenta Bold
"Colour18"="150,170,181"  ; ANSI Cyan
"Colour19"="150,170,181"  ; ANSI Cyan Bold
"Colour20"="202,211,216"  ; ANSI White
"Colour21"="202,211,216"  ; ANSI White Bold

