NAME=wal
BG=000000
FG=cad3d8
MENU_BG=000000
MENU_FG=cad3d8
SEL_BG=4C6070
SEL_FG=000000
TXT_BG=000000
TXT_FG=cad3d8
BTN_BG=952C4A
BTN_FG=cad3d8
HDR_BTN_BG=5E758A
HDR_BTN_FG=cad3d8
GTK3_GENERATE_DARK=True
ROUNDNESS=0
SPACING=3
GRADIENT=0.0
