" Special
let wallpaper  = "{{ .wallpaper_path }}"
let background = "#000000"
let foreground = "#cad3d8"
let cursor     = "#cad3d8"

" Colors
let color0  = "#000000"
let color1  = "#4C6070"
let color2  = "#952C4A"
let color3  = "#5E758A"
let color4  = "#748A9B"
let color5  = "#95A6B2"
let color6  = "#96AAB5"
let color7  = "#cad3d8"
let color8  = "#8d9397"
let color9  = "#4C6070"
let color10 = "#952C4A"
let color11 = "#5E758A"
let color12 = "#748A9B"
let color13 = "#95A6B2"
let color14 = "#96AAB5"
let color15 = "#cad3d8"
