foreground   #cad3d8
background   #000000
cursor       #cad3d8

color0       #000000
color8       #8d9397
color1       #4C6070
color9       #4C6070
color2       #952C4A
color10      #952C4A
color3       #5E758A
color11      #5E758A
color4       #748A9B
color12      #748A9B
color5       #95A6B2
color13      #95A6B2
color6       #96AAB5
color14      #96AAB5
color7       #cad3d8
color15      #cad3d8
