set $wallpaper {{ .wallpaper_path }}

set $background #000000
set $foreground #cad3d8

set $color0 #000000
set $color1 #4C6070
set $color2 #952C4A
set $color3 #5E758A
set $color4 #748A9B
set $color5 #95A6B2
set $color6 #96AAB5
set $color7 #cad3d8
set $color8 #8d9397
set $color9 #4C6070
set $color10 #952C4A
set $color11 #5E758A
set $color12 #748A9B
set $color13 #95A6B2
set $color14 #96AAB5
set $color15 #cad3d8
