{
    "cursor": "#cad3d8",
    "number": "#cad3d8",
    "parens": "#95A6B2",
    "result": "#748A9B",
    "comment": "#8d9397",
    "matched": "#748A9B",
    "function": "#4C6070",
    "operator": "#5E758A",
    "variable": "#952C4A",
    "scrollbar": "#5E758A",
    "separator": "#5E758A",
    "background": "#000000",
    "editorbackground": "#000000"
}
