static const char *colors[SchemeLast][2] = {
	/*     fg         bg       */
	[SchemeNorm] = { "#cad3d8", "#000000" },
	[SchemeSel] = { "#cad3d8", "#4C6070" },
	[SchemeOut] = { "#cad3d8", "#96AAB5" },
};
