static const char* selbgcolor   = "#000000";
static const char* selfgcolor   = "#cad3d8";
static const char* normbgcolor  = "#952C4A";
static const char* normfgcolor  = "#cad3d8";
static const char* urgbgcolor   = "#4C6070";
static const char* urgfgcolor   = "#cad3d8";
