wallpaper: "{{ .wallpaper_path }}"

special:
    background: "#000000"
    foreground: "#cad3d8"
    cursor: "#cad3d8"

colors:
    color0: "#000000"
    color1: "#4C6070"
    color2: "#952C4A"
    color3: "#5E758A"
    color4: "#748A9B"
    color5: "#95A6B2"
    color6: "#96AAB5"
    color7: "#cad3d8"
    color8: "#8d9397"
    color9: "#4C6070"
    color10: "#952C4A"
    color11: "#5E758A"
    color12: "#748A9B"
    color13: "#95A6B2"
    color14: "#96AAB5"
    color15: "#cad3d8"
