#!/bin/sh
[ "${TERM:-none}" = "linux" ] && \
    printf '%b' '\e]P0000000
                 \e]P14C6070
                 \e]P2952C4A
                 \e]P35E758A
                 \e]P4748A9B
                 \e]P595A6B2
                 \e]P696AAB5
                 \e]P7cad3d8
                 \e]P88d9397
                 \e]P94C6070
                 \e]PA952C4A
                 \e]PB5E758A
                 \e]PC748A9B
                 \e]PD95A6B2
                 \e]PE96AAB5
                 \e]PFcad3d8
                 \ec'
